# Indian Car Sales Data Analysis

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
car_data=pd.read_csv("cars_ds_final_2021.csv")
car_sales_data=pd.read_csv("car-sales-india-2021.csv")

In [3]:
car_data.head()

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
car_sales_data.head()

,Company,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Maruti Suzuki,2021,139002,144761,146203,135879,32903,124280,133732,103187,63111,108991,109722,123016
1,Hyundai,2021,52005,51600,52600,49002,25001,40496,48042,46866,33087,37021,37001,32312
2,Tata,2021,26980,27224,29655,25095,15181,24111,30184,28017,25729,33296,29780,35300
3,Mahindra,2021,20498,16702,16643,18285,8004,16636,20797,15786,12863,20034,19400,17476
4,Kia,2021,19056,15380,19100,16111,11050,15015,15016,16750,14441,16331,14214,7797

In [5]:
for i in car_data.columns:
    print(i)

Unnamed: 0
Make
Model
Variant
Ex-Showroom_Price
Displacement
Cylinders
Valves_Per_Cylinder
Drivetrain
Cylinder_Configuration
Emission_Norm
Engine_Location
Fuel_System
Fuel_Tank_Capacity
Fuel_Type
Height
Length
Width
Body_Type
Doors
City_Mileage
Highway_Mileage
ARAI_Certified_Mileage
ARAI_Certified_Mileage_for_CNG
Kerb_Weight
Gears
Ground_Clearance
Front_Brakes
Rear_Brakes
Front_Suspension
Rear_Suspension
Front_Track
Rear_Track
Front_Tyre_&_Rim
Rear_Tyre_&_Rim
Power_Steering
Power_Windows
Power_Seats
Keyless_Entry
Power
Torque
Odometer
Speedometer
Tachometer
Tripmeter
Seating_Capacity
Seats_Material
Type
Wheelbase
Wheels_Size
Start_/_Stop_Button
12v_Power_Outlet
Audiosystem
Aux-in_Compatibility
Average_Fuel_Consumption
Basic_Warranty
Bluetooth
Boot-lid_Opener
Boot_Space
CD_/_MP3_/_DVD_Player
Central_Locking
Child_Safety_Locks
Clock
Cup_Holders
Distance_to_Empty
Door_Pockets
Engine_Malfunction_Light
Extended_Warranty
FM_Radio
Fuel-lid_Opener
Fuel_Gauge
Handbrake
Instrument_Console
Low_Fuel_Warning
Minimum_Turning_Radius
Multifunction_Display
Sun_Visor
Third_Row_AC_Vents
Ventilation_System
Auto-Dimming_Rear-View_Mirror
Hill_Assist
Gear_Indicator
3_Point_Seat-Belt_in_Middle_Rear_Seat
Ambient_Lightning
Cargo/Boot_Lights
Drive_Modes
Engine_Immobilizer
High_Speed_Alert_System
Lane_Watch_Camera/_Side_Mirror_Camera
Passenger_Side_Seat-Belt_Reminder
Seat_Back_Pockets
Voice_Recognition
Walk_Away_Auto_Car_Lock
ABS_(Anti-lock_Braking_System)
Headlight_Reminder
Adjustable_Headrests
Gross_Vehicle_Weight
Airbags
Door_Ajar_Warning
EBD_(Electronic_Brake-force_Distribution)
Fasten_Seat_Belt_Warning
Gear_Shift_Reminder
Number_of_Airbags
Compression_Ratio
Adjustable_Steering_Column
Other_Specs
Other_specs
Parking_Assistance
Key_Off_Reminder
USB_Compatibility
Android_Auto
Apple_CarPlay
Cigarette_Lighter
Infotainment_Screen
Multifunction_Steering_Wheel
Average_Speed
EBA_(Electronic_Brake_Assist)
Seat_Height_Adjustment
Navigation_System
Second_Row_AC_Vents
Tyre_Pressure_Monitoring_System
Rear_Center_Armrest
iPod_Compatibility
ESP_(Electronic_Stability_Program)
Cooled_Glove_Box
Recommended_Tyre_Pressure
Heated_Seats
Turbocharger
ISOFIX_(Child-Seat_Mount)
Rain_Sensing_Wipers
Paddle_Shifters
Leather_Wrapped_Steering
Automatic_Headlamps
Engine_Type
ASR_/_Traction_Control
Cruise_Control
USB_Ports
Heads-Up_Display
Welcome_Lights
Battery
Electric_Range

In [6]:
car_data_filtered1=round((car_data.isnull().sum()/len(car_data))*100,2).sort_values(ascending=True)[:50]

In [13]:
car_data_filtered1

Unnamed: 0                0.00
Power                     0.00
Length                    0.00
Ex-Showroom_Price         0.00
Fuel_Type                 0.00
Model                     0.00
Variant                   0.00
Type                      0.08
Height                    0.08
Torque                    0.16
Doors                     0.32
Seating_Capacity          0.47
Body_Type                 0.47
Drivetrain                0.55
Fuel_System               0.63
Emission_Norm             0.87
Seats_Material            0.95
Displacement              0.95
Width                     0.95
Cylinder_Configuration    1.03
Tachometer                1.03
Boot-lid_Opener           1.10
Fuel-lid_Opener           1.10
Instrument_Console        1.10
Wheelbase                 1.58
Front_Brakes              1.97
Rear_Brakes               1.97
Ventilation_System        2.76
Low_Fuel_Warning          2.84
Fuel_Gauge                3.00
Cup_Holders               3.24
Odometer                  3.31
Engine_Location           3.39
Audiosystem               3.47
Speedometer               3.47
Rear_Suspension           3.63
Sun_Visor                 4.42
Handbrake                 4.50
Power_Steering            4.50
Front_Suspension          4.66
Tripmeter                 4.66
Engine_Immobilizer        4.74
Cylinders                 5.21
Fuel_Tank_Capacity        5.52
Child_Safety_Locks        5.92
Make                      5.92
Multifunction_Display     7.02
Power_Windows             7.26
Valves_Per_Cylinder       8.05
Gears                     8.29
dtype: float64

Unnamed: 0                0.00
Power                     0.00
Length                    0.00
Ex-Showroom_Price         0.00
Fuel_Type                 0.00
Model                     0.00
Variant                   0.00
Type                      0.08
Height                    0.08
Torque                    0.16
Doors                     0.32
Seating_Capacity          0.47
Body_Type                 0.47
Drivetrain                0.55
Fuel_System               0.63
Emission_Norm             0.87
Seats_Material            0.95
Displacement              0.95
Width                     0.95
Cylinder_Configuration    1.03
Tachometer                1.03
Boot-lid_Opener           1.10
Fuel-lid_Opener           1.10
Instrument_Console        1.10
Wheelbase                 1.58
Front_Brakes              1.97
Rear_Brakes               1.97
Ventilation_System        2.76
Low_Fuel_Warning          2.84
Fuel_Gauge                3.00
Cup_Holders               3.24
Odometer                  3.31
Engine_Location           3.39
Audiosystem               3.47
Speedometer               3.47
Rear_Suspension           3.63
Sun_Visor                 4.42
Handbrake                 4.50
Power_Steering            4.50
Front_Suspension          4.66
Tripmeter                 4.66
Engine_Immobilizer        4.74
Cylinders                 5.21
Fuel_Tank_Capacity        5.52
Child_Safety_Locks        5.92
Make                      5.92
Multifunction_Display     7.02
Power_Windows             7.26
Valves_Per_Cylinder       8.05
Gears                     8.29
dtype: float64

In [12]:
car_sales_data.head(10)

,Company,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Maruti Suzuki,2021,139002,144761,146203,135879,32903,124280,133732,103187,63111,108991,109722,123016
1,Hyundai,2021,52005,51600,52600,49002,25001,40496,48042,46866,33087,37021,37001,32312
2,Tata,2021,26980,27224,29655,25095,15181,24111,30184,28017,25729,33296,29780,35300
3,Mahindra,2021,20498,16702,16643,18285,8004,16636,20797,15786,12863,20034,19400,17476
4,Kia,2021,19056,15380,19100,16111,11050,15015,15016,16750,14441,16331,14214,7797
5,Honda,2021,11320,9324,7103,9072,2032,4767,6055,11177,6765,8108,5457,7973
6,Toyota,2021,11126,14069,14997,9621,707,8798,13103,12769,9284,12440,13002,10883
7,Renault,2021,8209,11043,12356,8642,2620,6100,9787,9703,7326,8910,5052,6130
8,Ford,2021,4141,5775,7746,5469,766,4936,3139,1508,0,0,0,0
9,Nissan,2021,4021,4244,4012,3369,1235,3336,4208,3170,2701,3619,2392,2783